# Dependencias
node_modules/

# Builds
dist/
build/

# Archivos de entorno
.env
.env.local
.env.development
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Reglas de Cursor (solo para entorno local)
.cursor/
