/* Fuentes e íconos */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&family=Open+Sans&display=swap');

@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #333333;
  background-color: #FFFFFF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Variables globales */
  --primary: #D4AF37;
  --secondary: #3B5998;
  --accent: #DC3545;
  --neutral: #333333;
  --background: #FFFFFF;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  /* Tipografía global */
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}

/* Estilos de los contenedores */
.container {
  margin: 0 auto ;
  padding: auto 1.5rem; /* Ajuste el padding para espacio en los bordes */
  max-width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

@media (max-width: 638px) {
  .container {
    padding: 0 1rem; /* Padding para dispositivos móviles */
  }

  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .menu-list {
    width: 100%;
    justify-content: center;
    gap: 0.5rem;
  }
}
  

