/* Importa fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&family=Open+Sans&display=swap');

/* Directivas de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de color */
:root {
  --primary: #D4AF37;
  --secondary: #3F51B5;
  --accent: #B71C1C;
  --neutral: #1A1A1A;
  --background: #ffffff;
  --peach-light: #FFF5E6;
  --darkbackground: #ffffff;
}

/* Tipografía global */
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}

/* Estilos de los contenedores */
.container {
  margin: 0 auto;
  max-width: 100%;
}


@media (max-width: 638px) {
  .container {
    padding: 6rem 1rem;

  }



  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .menu-list {
    width: 100%;
    justify-content: center;
    gap: 0.5rem;
  }


}